{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2>Login</h2>
    <form method="post" action="/login">
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" class="form-control" name="username" placeholder="Enter username" required>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" name="password" placeholder="Enter password" id="password" required>
            <input type="checkbox" onclick="togglePassword()"> Show Password
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
    </form>
    <form action="{{ url_for('face_login') }}" method="post">
            <input type="hidden" name="face_recognition" value="true">
            <button type="submit" class="btn btn-secondary mt-2" id="faceRecognitionButton">Face Recognition</button>
    </form>
    <p class="mt-3 text-danger">{{ msg }}</p>
    <p class="mt-3">
        Don't have an account? <a href="/register">Sign Up Here!</a>
    </p>
    <p class="mt-3">
        Forgot your password? <a href="/forgot_password">Reset it here!</a>
    </p>
    <p class="mt-3">
        Verified phone number? <a href="/phone_login">Login with Phone Number</a>
    </p>
    <p class="mt-3">
        Have a Google Account? <a href="/google_login">Sign in with Google</a>
    </p>
    <p class="mt-3">
        <a href="/admin_login">Login as admin here</a>
    </p>
</div>
<script>
    function togglePassword() {
        var x = document.getElementById("password");
        if (x.type === "password") {
            x.type = "text";
        } else {
            x.type = "password";
        }
    }
</script>
{% endblock %}
